* {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Varela Round', sans-serif;
    //font-family: 'Roboto', sans-serif;*/
    border: 1px solid red;
}

.wrapper {
    display: grid;
}

.section-wrapper {
    display: grid;
}


.content-wrapper {
    display: grid;
    justify-self: center;
    width: 90%;
}

.header-wrapper {
    display: grid;
}

/*NAVIGATION BAR*/
.navigation-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.navigation-bar h3 {
    font-size: 17px;
    letter-spacing: 2px;
    padding: 5px;
}

.navigation-bar ul {
    display: flex;
    align-items: center;
}

.navigation-bar li {
    font-size: 17px;
    margin: 0 20px;
    padding: 0px 5px;
    text-align: center;
}

/*HEADER*/
.header-intro {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 20% 0;
}

.title {
    font-size: 3rem;
    letter-spacing: 5px;
    margin: 1.1rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

/*ABOUT*/
.about-wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10% 20%;
}

.about-wrapper h2 {
    font-size: 2rem;
    margin: 1.1rem;
}

.about-wrapper p {
    font-size: 1rem;
}