* {
  padding: 0;
  margin: 0;
}

html {
  background-image: url('../images/Website-Design-Background.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

.container_nav {
  position: fixed;
  width: 3%;
  background-color: black;
  margin: 0;
  height: 100%;
}

.container_main {
  position: absolute;
  width: 97%;
  margin-left: 3%;
  height: 100%;
}

.main_header {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 35%;
  padding: 17% 0% 17% 0%;
  margin-left: auto;
  margin-left: auto;
}

.main_header h1 {
  width: 100%;
  font-size: 80px;
  color: white;
}

.main_header h4 {
  width: 100%;
  height: 100%;
  font-size: 25px;
  margin-top: 50px;
  color: white;
}

.foto {
  overflow: hidden;
  width: 100%;
  background-color: #d8d8d8;
}

.foto h2 {
  margin: 80px auto 20px auto;
}

.img_box {
  text-align: center;
  width: 1200px;
  overflow: auto;
  margin: 50px auto 100px auto;
}

.img_boxes {
  width: 300px;
  height: 250px;
  float: left;
}

.img_box img {
  width: 300px;
  height: 250px;
}

.left {
  width: 50%;
  float: left;
}
