* {
    padding: 0;
    margin: 0;
    /border: 1px red solid;
    font-family: 'Roboto Condensed', sans-serif;
}

.grid-container {
    display: grid;
}

#navbar {
    grid-column: 1/end;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    z-index: 1;
}

#navbar p {
    margin: 1%;
    font-size: 13px;
}

#navbar .fas {
   background: none;
   color: #f2f2f2;
   padding: 0;
}


#navbar a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 13px;
    margin: 1%;
}


header {
    padding: 0;
    margin: 0;
    text-align: center;
    display: grid;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

header:after {
    content: '';
    background-color: #1e2731;
    opacity: 0.85;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.inner-banner {
    justify-self: center;
    align-self: center;
    color: white;
    z-index: 1;
}

.inner-banner h1 {
    font-size: 4em;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 3px;
}

.inner-banner h1:after {
    content: '';
    display: block;
    margin: 20px auto;
    background-color: white;
    height: 3px;
    width: 10%;
}

.inner-banner p {
    font-size: 17px;
    padding:  20px 50px;
    line-height: 30px;
}

.inner-banner button {
    padding: 20px 40px;
    border: 3px white solid;
    border-radius: 5px;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-style: uppercase;
}



.section-width-left, .section-width-right {
    grid-column: 1/end;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    position: relative;
}

.section-width-left {
    background-color: #51CCA8;
}

.swl-title-card-section, .swr-title-card-section{
    position: absolute;
    margin: auto;
    top: 5%; left: 0; bottom: 5%; right: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.swl-title-card-container, .swr-title-card-container {
    grid-column: 2/6;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.swl-title-card-container h1 {
    grid-column: 1/4;
    align-self: center;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: 2px;
    font-weight: 100;
    color: white;
    font-style: italic;
}

.swr-title-card-container h1 {
    grid-column: 5/end;
    align-self: center;
    text-align: right;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: 2px;
    font-weight: 100;
    color: white;
    font-style: italic;
}

.swl-card {
    align-self: center;
    grid-column: 4/end;
    background-color: white;
    border-radius: 5px;
    padding: 50px 50px 50px 50px;
    box-shadow: 0px 0.25rem 1rem rgba(0,0,0,0.1);
}

.swr-card {
    align-self: center;
    grid-column: 1/5;
    background-color: white;
    border-radius: 5px;
    padding: 50px 50px 50px 50px;
    box-shadow: 0px 0.25rem 1rem rgba(0,0,0,0.1);
}

.swl-card h2, .swr-card h2 {
    color: #555;
    line-height: 40px;
    font-size: 30px;
    font-weight: 100;
    padding: 15px 0px 7px 0px;
}

.swl-card p, .swr-card p {
    color: #888;    
    line-height: 27px;
    font-size: 17px;
    padding: 15px 0px 30px 0px;
}

.swl-card button, .swr-card button {
    font-size: 14px;
    padding: 15px 25px;
    border: none;
    background-color: #51CCA8;
    color: white;
    letter-spacing: 2px;
    border-radius: 5px;
}

.swl-img{
    grid-column: 10/end;
}

.swl-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.swr-title {
    grid-column: 9/end;
}

.swr-img {
    grid-column: 1/9;
}

.swr-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.section-right-1 {
    background-color: #51B9CC;
}

.section-right-1 button {
    background-color: #51B9CC;
}



.section-left-2 {
    background-color: #5E92CC;
}

.section-left-2 button {
    background-color: #5E92CC;
}


#slider-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    background-color: #6E81D0;
    padding-bottom: 5%;
}

#slider-section h1 {
    grid-column: 1/end;
    padding: 6% 0px 3% 0px;
    align-self: center;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: 4px;
    font-weight: 100;
    color: white;
    font-style: italic;
}

#slider-section h1:after {
    content: '';
    display: block;
    margin: 10px auto;
    background-color: white;
    height: 3px;
    width: 5%;
}

#slider-card {
    grid-column: 2/6;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0.25rem 1rem rgba(0,0,0,0.1);
}

#slider-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.slider-card-text {
    padding: 40px 8% 30px 8%;
}

.slider-card-text h2 {
    color: #555;
    line-height: 40px;
    font-size: 30px;
    font-weight: 100;
    padding: 15px 0px 7px 0px;
}

.slider-card-text p {
    color: #888;    
    line-height: 27px;
    font-size: 17px;
    padding: 15px 0px 30px 0px;
}

.slider-card-text button {
    font-size: 14px;
    padding: 15px 25px;
    border: none;
    background-color: #51CCA8;
    color: white;
    letter-spacing: 2px;
    border-radius: 5px;
}







#gallery-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    padding-bottom: 5%;
}

#gallery-section h1{
    grid-column: 1/end;
    grid-column: 1/end;
    padding: 6% 0px 3% 0px;
    align-self: center;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: 4px;
    font-weight: 100;
    color: #555;
    font-style: italic;
}

#gallery-section h1:after {
    content: '';
    display: block;
    margin: 10px auto;
    background-color: #555;
    height: 3px;
    width: 5%;
}


#gallery-container {
    grid-column: 2/6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery-card {
    margin: 5%;
    box-shadow: 0px 0.25rem 1rem rgba(0,0,0,0.1);
    border-radius: 5px;
}


.gallery-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gallery-card-text {
    padding: 10px 8% 30px 8%;
}

.gallery-card-text h2 {
    color: #555;
    line-height: 40px;
    font-size: 30px;
    font-weight: 100;
    padding: 15px 0px 7px 0px;
}

.gallery-card-text p {
    color: #888;    
    line-height: 27px;
    font-size: 17px;
    padding: 15px 0px 30px 0px;
}

.gallery-card-text button {
    font-size: 14px;
    padding: 15px 25px;
    border: none;
    background-color: #51CCA8;
    color: white;
    letter-spacing: 2px;
    border-radius: 5px;
}

#gallery-btn-2 {
    background-color: #51B9CC;
}

#gallery-btn-3 {
    background-color: #5E92CC;
}

#gallery-btn-4 {
    background-color: #6E81D0;
}




#email-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    background-color: #51CCA8;
    padding-bottom: 6%;
}

#email-container {
    grid-column: 2/6;
    display: grid;
}

#email-container h1 {
    grid-column: 1/end;
    padding: 6% 0px 3% 0px;
    align-self: center;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: 4px;
    font-weight: 100;
    color: white;
    font-style: italic;
}

#email-container h1:after {
    content: '';
    display: block;
    margin: 10px auto 5px auto;
    background-color: white;
    height: 3px;
    width: 5%;
}

#email-container p { 
    color: #b9ebdc;    
    line-height: 27px;
    font-size: 17px;
    padding: 0px 0px 30px 0px;
}

#email-container form {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-self: center;
    
}

#email-form input {
    grid-column: 3/5;
    padding: 7px 20px;
    color: #51CCA8;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

input::placeholder {
    color: #a2a2a2;
}

#email-form button {
    font-size: 14px;
    padding: 15px 25px;
    border: none;
    background-color: #6E81D0;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}





footer {
    grid-column: 1/end;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    background-color: #f2f2f2;
    padding: 7%;
}

#footer-container {
    grid-column: 2/6;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    color: #555;
}

#address {
    grid-column: 1/5;
}

#phone {
    grid-column: 5/7;
}

#email-address {
    grid-column: 7/end;
}

#watermark {
    grid-column: 1/end;
    color: #a2a2a2;
    padding-top: 5%;
}

.fas {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    color: #555;
}
