* {
    margin: 0;
    padding: 0;
    
}

html, body {
    padding: 0;
    margin: 0;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Use repeat if many columns needed*/
    grid-row-gap: 20px;
}

#navigation {
    grid-column: 2/12;
    display: grid;
    margin: 0;
    padding: 20px 0px;
    border-bottom: 5px black solid;
}

#nav-options {
    justify-self: right;
    
}

#nav-options * {
    justify-self: right;
    color: black;
    padding: 0px 10px;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;

}

#title {
    grid-column: 2/12;
}

#content {
    grid-column: 2/12;
    display: grid;
    border: red 1px solid;
}

#container {
    grid-column: 1/end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.event {
    padding: 20px;
}

#content p {
    font-weight: 600;
}
