* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
}

html {
    background-color: #8BC6EC;
}

body {
    min-height: 100vh;
    display: grid;
}


.wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.quizSpace {
    grid-column: 3/6;
    display: grid;
    text-align: center;
    border: 3px solid;
    border-radius: 100px;
    background-image: linear-gradient(175.9deg, rgba(70, 80, 98, 1) 7%, rgba(90, 104, 127, 1) 93.8%);
}



.quizSpace * {
    letter-spacing: 2px;
    margin: 10px;
    padding: 10px;
}

.quizSpace p {
    padding: 10px;
}

.question {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.answers {
    grid-column: 1/end;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    font-size: 17px;
}

.answers p {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(126, 155, 212, 1) 0%, rgba(87, 83, 247, 1) 90%);
    border-radius: 20px;
}

#button {
    justify-self: center;
    width: 20%;
}

#correct {
    grid-column: 6/7;
}

#incorrect {
    justify-self: left;
}
