/*BASIC STYLING*/
/*VARIABLES*/
$buttonColor : #2999ff;
$buttonHoverColor: #5bb1ff;
$inputBackgroundColor: #f5f5f5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: 1px solid red;
}

.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    .header {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
    }
    .notesList {
        flex-basis: 100%;
        display: flex;
    }
    .modal {
        display: none;
        flex-wrap: wrap;
        flex-basis: 40%;
        justify-content: center;
        text-align: left;
        width: 40%;
        color: black;
        background-color: white;
        //transform: rotate(5deg);
    }
}
.headerContent {
    width: 30%;
}


.openModal {
    width: 5rem;
    height: 5rem;
    background-color: $buttonColor;
    color: white;
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    margin: 5px;
    transition: all 0.3s;
}

.openModal:focus {
    outline: 0;
}

.openModal:hover {
    background-color: $buttonHoverColor;
    transform: rotate(90deg);
    text-shadow: 2px 2px $buttonColor;
}

.modal {
    * {
        padding: 1rem 0.5rem;
    }
    .title, .description {
        width: 100%;
        font-size: 22px;
        font-weight: bold;
    }
    .title input, .description textarea  {
        width: 100%;
        border: none;
        border-bottom: 2px solid black;
        font-size: 18px;
        resize: none;
        transition: all 1s;
    }
    .title input:focus, .description textarea:focus {
        background-color: $inputBackgroundColor;
        outline: 0;
        border-radius: 5px;
        box-shadow: 0px -2px 5px 1px rgba(0,0,0, 0.41);
    }
}



.card {
    width: 20%;
    background-color: black;
    color: white;
    padding: 5px;
}