/*BASIC STYLING*/
/*VARIABLES*/
$buttonColor : #2999ff;
$buttonHoverColor: #5bb1ff;
$inputBackgroundColor: #f5f5f5;

* {
    margin: 0;
    padding: 0;
    //box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #EAF5FF;
}

body {
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    min-height: 100vh;

    .header {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
    }

    .notesList {
        //flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .modal {
        width: 100%;
        min-height: 100%;
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        overflow: auto;
    }
}

.headerContent {
    width: 90%;
    padding: 1rem;

    p {
        letter-spacing: 1px;
        line-height: 30px;
    }
}


.openModal {
    width: 5rem;
    height: 5rem;
    background-color: $buttonColor;
    color: white;
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    margin: 5px;
    transition: all 0.3s;
}

.openModal:focus {
    outline: 0;
}

.openModal:hover {
    background-color: $buttonHoverColor;
    transform: rotate(90deg);
    text-shadow: 2px 2px $buttonColor;
}

.modalContent {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 35%;
    justify-content: center;
    border-radius: 10px;
    height: 470px;
    color: black;
    background-color: #CAE6FF;
    top: 15%;
    padding: 1rem;
    margin: 1rem 0; 

    #closeModal {
        padding: 0;
        display: flex;
        flex: 1;
        justify-content: flex-end;
        .closeModalButton {
            transition: all 0.3s;
        }

        .closeModalButton:hover {
            color: $buttonColor;
            transform: rotate(90deg);
        }
    }

    * {
        padding: 1rem 0.5rem;
    }

    .title,
    .description {
        width: 100%;
        font-size: 22px;
        font-weight: bold;
    }

    .title input,
    .description textarea {
        width: 90%;
        background-color: #CAE6FF;
        border: none;
        border-bottom: 2px solid black;
        font-size: 18px;
        resize: none;
        transition: all 1s;
    }

    .title input:focus,
    .description textarea:focus {
        background-color: #EAF5FF;
        outline: 0;
        border-radius: 5px;
        box-shadow: 0px -2px 5px 1px rgba(0, 0, 0, 0.41);
    }

    .createNote {
        background-color: $buttonColor;
        color: white;
        font-size: 1.5rem;
        border: none;
        margin: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
        transition: all 0.3s;
    }

    .createNote:hover {
        background-color: $buttonHoverColor;
        text-shadow: 2px 2px $buttonColor;
    }
}

.card {
    flex:0 1 20%;
    margin: 10px;
    background-color: #195C99;
    color: white;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 10px 10px -5px rgba($buttonColor, 0.5);

    * {
        padding: 0;
        margin: 0;
    }

    textarea,
    input {
        text-align: center;
        color: white;
        font-size: 20px;
        background: none;
        border: none;
        border-bottom: #258AE6 2px solid;
        resize: none;
    }

    input {
        padding: 10px;
        font-size: 30px;
        font-weight: 700;
        text-shadow: 1px 1px $buttonColor;
    }

    p {
        font-size: 15px;
        letter-spacing: 2px;
        text-align: end;
    }

    button {
        background-color: $buttonColor;
        color: white;
        font-size: 1.5rem;
        border: none;
        margin: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
        transition: all 0.3s;
    }

    button:hover {
        border-radius: 20px;
        background-color: $buttonHoverColor;
        text-shadow: 2px 2px $buttonColor;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .modalContent {
        flex-basis: 70%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .modalContent {
        flex-basis: 50%;
    }
} 
