
/*Basic structure*/
* { border: solid 1px red;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 20px;
    grid-template-rows: auto;
    background: rgba(141,232,213,1);
}

.title {
    grid-column: 1/end;
    
}

.section1 {
    display: grid;
    grid-column: 3/6; 
    background-color: #00e3b2;
    grid-row: auto;
    border: outset #04aa86 2px;
    box-shadow: 0px 14px 30px -8px rgba(0,0,0,1);
}

.section2 {
    grid-column: 8/11;
    background-color: #00e3b2;
    border: outset #04aa86 2px;
    box-shadow: 0px 14px 30px -8px rgba(0,0,0,1);
}

.green {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: #2ec92d; 
    color: white;
    letter-spacing: 2px;
    margin: 5px;
}

.red {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: #db2323; 
    color: white;
    letter-spacing: 2px;
    margin: 5px;
}



/*Task 1*/
.textOneEdit {
    font-size: 30px;
    text-shadow: 3px;
    word-spacing: 2px;
    background-color: #00998b;
    color: white;
}

/*Task 2*/
.taskForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
}

/*Task 3*/
.changebackgrond {
    background-color: white;
}

/*Task 5*/
#table5 td {
    border: outset #04aa86 2px;
}

/*Task 8*/
#form8 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
}

#form8 input {
    width: 200px;
    margin: 0 auto;
}

/*Task 9*/
#task9 img {
    object-fit: cover;
    width: 100%;
}