html, body {
    padding: 0;
    margin: 0;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Use repeat if many columns needed*/
    grid-row-gap: 20px;
    background-color: #ff8a8a;
    color: white;
}

.title {
    grid-column: 1/end;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
}

.chapter {
    grid-column: 1/end;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
}


.description {
    font-style: italic;
    border: 1px white dotted;
    margin: 0;
}

#title, #note, #title2, #note2, .message  {
    font-size: 20px;
    padding: 15px 0px; 
}

.section1 {
    /*grid-column-start: 5;
    grid-column-end: 9;*/ /*This the same as line below*/
    grid-column: 2 / 6;
    text-align: center;
    border: solid 3px white;
    border-radius: 5px;
    margin: 20px 0px;
    background-color: #ff6464;
}

#content h2 {
    text-transform: uppercase;
}

#cost {
    font-size: 20px;
    padding: 10px 0px;
}

#content .fab {
    margin: 10px 0px;
}

.section2 {
    /*grid-column-start: 5;
    grid-column-end: 9;*/ /*This the same as line below*/
    grid-column: 8 / 12;
    text-align: center;
    border: solid 3px white;
    border-radius: 5px;
    margin: 20px 0px;
    background-color: #ff6464;
}

.example {
    background-color: black;
    grid-column: 1/end;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Use repeat if many columns needed*/
    grid-row-gap: 20px;
}

.example h1 {
    grid-column: 1/end;
}

.finalExample {
    grid-column: 4 / 10;
    border: solid 3px yellow;
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
}

/*Using flexbox option here*/
.finalExample table {
    display: flex;
    justify-content: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #ff6464;
    font-size: 30px;
}
