html, body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}


* {
  /border: 1px solid red;
  padding: 0px;
  margin: 0px;
}

/*FIXED SIDEBAR*/
.sidenav {
  position: fixed;
  background-color: white;
  margin: 0;
  height: 100%;
}

.nav-all {
  padding-top: 0px;
}

.sidenav a{
  display: block;
  font-size: 20px;
  color: grey;
  padding-top: 5px;
}

.sidenav a:hover {
  text-decoration: none;
  color: #c2aa73;
}

.logo_pic {
  padding-top: 40px;
  border-bottom: 6px solid #c2aa73;
}

#cell-phone {
  margin-top: 30px;
  color: grey;
  font-size: 25px;
}

.sidenav p {
  margin: 0px;
}

.fa-map-marker-alt {
  color: #c2aa73;
}

.address {
  padding: 25px 0px;
}

.first-icons {
  color: #c2aa73;
  margin: 0px 20px;
}

/*HERO*/
.hero {
  background-image: url("../img/bg-hero.png");
}

.main {
  padding-top: 95px;
  padding-bottom: 100px;
}

.main h1 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.main p {
  padding-top: 37px;
  font-size: 20px;
}

.practice-areas {
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 6px solid #c2aa73;
  border-bottom: 6px solid #c2aa73;
}

.practice-areas h1 {
  padding-top: 22px;
  font-size: 20px;
}

.unique p {
  padding-top: 100px;
  padding-bottom: 101px;
  font-size: 20px;
  margin: 0px;
}



/*ABOUT*/
.about {
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about h3 {
  padding-top: 37px;
  padding-bottom: 37px;
  font-size: 30px;
  margin: 0px;
}

.about p {
  color: #424343;
  font-size: 20px;
  padding-bottom: 52px;
  margin: 0px;
}



/*BLOG*/
.blog {
  background-image: url("../img/bg-img-blog.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-container {
  padding-top: 40px;
  padding-bottom: 25px;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

.card-block {
  color: #585858;
  padding: 14px;
}



/*TESTIMONIALS*/
.testimonials {
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonials h3 {
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 6px solid #c2aa73;
  margin: 0px;
}

.fa-angle-left {
  position: absolute;
  right: 20px;
  top: 0;
  color: white;
  background-color: rgba(66, 67, 67, 0.15);
}
.fa-angle-left:hover {
  color: #c2aa73;
}

.fa-angle-right {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  background-color: #8c8b92;
}
.fa-angle-right:hover {
  color: #c2aa73;
}

.testimonials p {
  margin: 0px;
  font-size: 20px;
  padding-top: 33px;
}

.testimonials h4 {
  padding-top: 31px;
  padding-bottom: 10px;
  margin: 0px;
  border-bottom: 1px solid #d1d1d1;
}

.stars {
  padding: 10px;
  padding-bottom: 40px;
}

.fa-star {
  color: #c2aa73;
}

/*FOOTER*/
.footer {
  background-image: url("../img/bg-footer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-main {
  padding-top: 79px;
  padding-bottom: 80px;
}

.footer-main h3 {
  font-weight: bold;
  font-size: 50px;
  margin: 0px;
  padding-bottom: 17px;
  border-bottom: 6px solid #c2aa73;
}

.footer h4 {
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 37px;
  font-size: 30px;
  margin: 0px;
}

.footer p {
  font-size: 20px;
}

form {
  background-color: white;
}

.footer form h3 {
  padding-top: 30px;
  font-size: 30px;
  margin: 0px;
}

.footer h3 span {
  color: #c2aa73;
}

.form-group {
  margin: 15px;
}

.form-control {

  font-size: 15px;
}

.form-comment {

}

.submit-button {
 background-color: #c2aa73;
 padding-bottom: 30px;
}


/*COPYRIGHTS*/
.copyright {
  background-color: grey;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.copyright-wrapper {
  padding-top: 10px;
  margin: 0px;
}

.copyright span {
  padding: 0px 3px;
  font-size: 15px;
}

.second-icons {
  color: white;
  padding: 0px 5px;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #1dcaff;
}
