/*BASIC SETUP*/
/*VARIABLES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.nav-content-wrapper,
.intro-content-wrapper,
.workspace-content-wrapper {
  flex-basis: 1280px;
  display: flex;
  justify-content: center;
}

.navigation-wrapper {
  background-color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
}
.navigation-wrapper .navigation-bar {
  padding: 2% 1%;
  display: flex;
  background-color: #000000;
  color: #ffffff;
  justify-content: space-between;
  flex: 1;
}
.navigation-wrapper .navigation-bar .logo {
  align-self: center;
}
.navigation-wrapper .navigation-bar .logo img {
  margin: 0;
  width: 130px;
  vertical-align: bottom;
}
.navigation-wrapper .navigation-bar .navigation-section-items {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.navigation-wrapper .navigation-bar .navigation-icons {
  display: flex;
}
.navigation-wrapper .navigation-bar .navigation-items,
.navigation-wrapper .navigation-bar .navigation-social,
.navigation-wrapper .navigation-bar .navigation-search {
  display: flex;
  align-items: center;
}
.navigation-wrapper .navigation-bar .navigation-items li {
  padding: 10px 15px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
}
.navigation-wrapper .navigation-bar .navigation-social {
  padding-right: 15px;
  font-size: 12px;
}
.navigation-wrapper .navigation-bar .navigation-social li {
  padding: 2px 7px;
}
.navigation-wrapper .navigation-bar .navigation-search {
  font-size: 15px;
}
.navigation-wrapper .navigation-bar .navigation-search i {
  padding: 5px 7px;
}

.intro-wrapper {
  min-height: 81vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15% 0% 10% 0%;
}
.intro-wrapper .intro-content {
  text-align: center;
  width: 60%;
}
.intro-wrapper .intro-content p {
  font-weight: 700;
  padding: 2%;
}
.intro-wrapper .intro-content h1 {
  padding: 20px;
  font-size: 65px;
  line-height: 55px;
}
.intro-wrapper .intro-content .intro-arrow {
  padding: 4% 0px;
}

.workspace-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../img/workspace_bg01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000000;
  color: #ffffff;
}
.workspace-wrapper .background-layer {
  background-color: rgba(58, 58, 58, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.workspace-wrapper .workspace-content {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10% 0 4% 0;
}
.workspace-wrapper .workspace-description {
  flex-basis: 60%;
}
.workspace-wrapper .workspace-description p {
  text-align: center;
  font-size: 20px;
  padding: 50px 30px;
}
.workspace-wrapper .workspace-cards {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}
.workspace-wrapper .workspace-cards .ws-card {
  background-color: #0f0f0f;
  flex-basis: 22%;
  margin: 2% 1%;
  padding: 2% 0%;
  border-radius: 5px;
}
.workspace-wrapper .workspace-cards .ws-card .ws-card-title {
  padding: 15px 0px;
  font-size: 30px;
  line-height: 27px;
}
.workspace-wrapper .workspace-cards .ws-card img {
  padding: 10% 0%;
  vertical-align: bottom;
}
.workspace-wrapper .workspace-cards .ws-card .ws-card-description {
  padding: 15px 0px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
}
.workspace-wrapper .workspace-forward {
  flex-basis: 50%;
  text-align: center;
  margin: 5% 0%;
}
.workspace-wrapper .workspace-forward p {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
