/*BASIC SETUP*/
/*VARIABLES*/
$black-background: #000000;
$white-text: #ffffff;


* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.section-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $black-background;
    color: $white-text;
}

.section-content-wrapper {
    flex-basis: 1280px;
    display: flex;
    justify-content: center;
}

.navigation {
    position: fixed;
    z-index: 2;

    .navigation-bar {
        padding: 2% 1%;
        display: flex;
        background-color: $black-background;
        color: $white-text;
        justify-content: space-between;
        flex: 1;

        .logo {
            align-self: center;
            padding: 0px;
            margin: 0px;


            img {
                margin: 0;
                width: 130px;
                vertical-align: -3px;
            }
        }

        .navigation-section-items {
            width: 70%;
            display: flex;
            justify-content: space-between;
        }

        .navigation-icons {
            display: flex;
        }

        .navigation-items,
        .navigation-social,
        .navigation-search {
            display: flex;
            align-items: center;
        }

        .navigation-items li {
            padding: 10px 15px;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 2px;
        }

        .navigation-social {
            padding-right: 15px;
            font-size: 12px;

            li {
                padding: 2px 7px;

                a {
                    color: $white-text;
                    text-decoration: none;

                    i {
                        transition: all 0.3s;
                    }

                    i:hover {
                        color: #fe7570;
                    }
                }
            }
        }

        .navigation-search {
            font-size: 15px;

            i {
                padding: 5px 7px;
            }
        }
    }
}

.intro {
    align-items: center;
    position: relative;
    background-image: url("../img/intro_bg.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;

    .background-layer-intro {
        background: linear-gradient(to bottom, rgba(232, 75, 108, 0.6) 0%, #fe7570 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
    }

    .intro-content {
        z-index: 1;
        text-align: center;
        width: 70%;
        padding: 18% 0% 13% 0%;

        p {
            font-weight: 700;
            padding: 2%;
        }

        h1 {
            padding: 20px 0px;
            font-size: 80px;
            line-height: 65px;
        }

        .intro-arrow {
            padding: 4% 0px;
        }
    }
}

.workspace {
    position: relative;
    background-image: url("../img/workspace_bg01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .background-layer_dark {
        background-color: rgba(58, 58, 58, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .workspace-content {
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10% 0 4% 0;
    }

    .workspace-description {
        flex-basis: 60%;

        p {
            text-align: center;
            font-size: 20px;
            padding: 50px 30px;
        }
    }

    .workspace-cards {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-basis: 100%;

        .ws-card {
            background-color: #0f0f0f;
            flex-basis: 22%;
            margin: 2% 1%;
            padding: 2% 0%;
            border-radius: 5px;

            .ws-card-title {
                padding: 15px 0px;
                font-size: 30px;
                line-height: 27px;
            }

            img {
                padding: 10% 0%;
                vertical-align: bottom;
            }

            .ws-card-description {
                padding: 15px 0px;
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 2px;
            }
        }
    }

    .workspace-forward {
        flex-basis: 50%;
        text-align: center;
        margin: 5% 0%;

        p {
            font-size: 15px;
            font-weight: 700;
            padding-bottom: 20px;
        }
    }
}

.product {

    .product-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 7% 0 10% 0;

        .product-title {
            text-align: center;

            p {
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 2px;
            }

            h3 {
                font-size: 50px;
            }
        }

        .product-cards {
            display: flex;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            padding: 3% 0 5% 0;

            .p-card {
                flex-basis: 22%;
                margin: 2% 1%;
                background-color: #0f0f0f;
                border-radius: 5px;

                img {
                    width: 100%;
                    vertical-align: middle;
                }

                .p-description {
                    padding: 20px;

                    p {
                        font-size: 15px;
                        font-weight: 700;
                        letter-spacing: 1px;
                    }

                    .p-price {
                        color: #999999;
                    }

                    .p-price-free {
                        color: #31a874;
                        font-size: 16px;
                    }
                }
            }
        }

        .product-view-button {
            padding: 2% 0%;

            button {
                background: none;
                padding: 7px 35px;
                border: 3px solid #ffa57c;
                font-size: 12px;
                font-weight: 700;
                color: $white-text;
                letter-spacing: 5px;
                cursor: pointer;
            }
        }
    }
}

.purchase {
    position: relative;
    background-image: url("../img/purchase_bg.gif");
    background-attachment: fixed;

    .background-layer_light_pink {
        background: linear-gradient(to bottom, #fe7570 0%, #ffa47a 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
    }

    .purchase-content {
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 7% 0 10% 0;

        .purchase-title {
            padding: 10px;

            p {
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 1px;
                padding: 2px;
            }

            h3 {
                font-size: 50px;
                font-weight: bold;
            }
        }

        .purchase-description {
            display: flex;
            justify-content: center;
            padding: 1% 0%;

            p {
                flex-basis: 70%;
                font-size: 15px;
                letter-spacing: 1px;
            }
        }

        .purchase-icons {
            padding: 2% 0%;
        }
    }
}

.gr-wt-at {
    position: relative;
    background-image: url("../img/gr_wt_at_bg.png");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;

    .background-layer_dark {
        background-color: rgba(58, 58, 58, 0.302);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .gr_wt_at-content {
        z-index: 1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .gr_wt_at-text-img-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 6% 0 6% 0;

            .gr_wt_at-text-content {
                z-index: 2;
                padding: 0 3%;
                flex-basis: 50%;


                p {
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 3px;
                }

                h3 {
                    letter-spacing: 3px;
                    font-size: 50px;
                    font-weight: bold;
                }

                .gr_wt_at-description {
                    padding: 2% 0px;

                    p {
                        padding: 2% 2%;
                        flex-basis: 70%;
                        font-size: 15px;
                        letter-spacing: 2px;
                        font-weight: 100;
                    }
                }

                .gr_wt_at-button-wrapper {
                    padding: 2% 0%;

                    button {
                        background: none;
                        padding: 7px 35px;
                        border: 3px solid #ffa57c;
                        font-size: 12px;
                        font-weight: 700;
                        color: $white-text;
                        letter-spacing: 5px;
                        cursor: pointer;
                    }
                }
            }

            .gr_wt_at-image {
                img {
                    max-width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }
        }
    }
}

.blog {

    .blog-content {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 8% 0 10% 0;

        .blog-intro {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .blog-title {
                p {
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 3px;
                }

                h3 {
                    letter-spacing: 3px;
                    font-size: 50px;
                    font-weight: bold;
                }
            }

            .blog-description {
                display: flex;
                justify-content: center;
                padding: 1% 0%;

                p {
                    width: 60%;
                    padding: 1% 2%;
                    flex-basis: 70%;
                    font-size: 14px;
                    letter-spacing: 2px;
                    font-weight: 100;
                }
            }
        }

        .blog-items {
            display: flex;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;
            padding: 3% 0 1% 0;

            li {
                flex-basis: 30%;
                margin: 1% 1%;

                img {
                    width: 100%;
                    vertical-align: middle;
                }

                .blog-items-intro {
                    padding: 10px 0;

                    p {
                        font-size: 12px;
                        padding: 3px;
                        letter-spacing: 2px;
                        font-weight: 700;
                        color: #898989;
                    }

                    h3 {
                        letter-spacing: 2px;
                    }
                }

                .blog-items-description {
                    p {
                        font-size: 13px;
                        letter-spacing: 1px;
                        padding: 3% 5%;
                    }
                }
            }
        }

        .blog-button {
            padding: 2% 0%;

            button {
                background: none;
                padding: 7px 35px;
                border: 3px solid #ffa57c;
                font-size: 12px;
                font-weight: 700;
                color: $white-text;
                letter-spacing: 5px;
                cursor: pointer;
            }
        }
    }
}

.contact {
    position: relative;
    background-image: url("../img/purchase_bg.gif");
    background-attachment: fixed;

    .background-layer_light_pink {
        background: linear-gradient(to bottom, #fe7570 0%, #ffa57c 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
    }

    .contact-content {
        z-index: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        //flex-wrap: wrap;
        padding: 8% 0 10% 0;

        .contact-section {
            flex-basis: 50%;

            .contact-section-title {
                p {
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 3px;
                    padding: 2% 4%;
                }

                h3 {
                    letter-spacing: 3px;
                    font-size: 50px;
                    font-weight: bold;
                }

                form {
                    display: flex;
                    flex-wrap: wrap;

                    .contact-section-email {
                        font-size: 500px;
                    }

                    label {
                        font-size: 500px;
                    }
                }
            }
        }
    }
}

.useful-links {
    background-color: #1f1f1f;

    .useful-links-content {
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 8% 0 10% 0;

        .useful-links-section {
            flex-basis: 22%;

            h6 {
                color: #808080;
                letter-spacing: 1px;
                text-align: left;
                padding: 10px;
            }

            p {
                text-align: left;
                padding-left: 5%;
            }

            .useful-links-tweet {
                display: flex;
                flex-wrap: wrap;

                .tweet-icon-text {
                    display: flex;
                    align-items: center;
                }

                i {
                    padding: 1px;
                }

                p {
                    text-align: left;
                }

                .tweet-date {
                    color: #808080;
                    font-size: 13px;
                    flex-basis: 100%;
                }
            }
        }
    }
}
