/*Variables*/
:root {
    --nav-font-color: #7a80b4;
    --nav-background: #0e0c28;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #efeff6;
}

.wrapper {
    display: grid;
    padding-top: 50px;
}

.inner-wrapper {
    align-self: center;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "navigation-section content-section";
    height: 100vh;
}

/*HEADER*/
.header {
    grid-area: header;
    background-color: var(--white);
    display: grid;
    padding: 0 10px;
    align-content: center;
    position: fixed;
    top: 0;
    min-height: 50px;
    width: 100%;
}

.header h1 {
    font-size: 20px;
}
/*HEADER END*/


/*NAVIGATION*/
.navigation-section {
    grid-area: navigation-section;
    background-color: var(--nav-background);
    color: var(--nav-font-color);
    position: fixed;
    height: 100%;
    width: 250px;
}

.navigation-bar-style {
    margin: 20px;
    font-size: 17px;
    font-weight: 800;
    list-style-type: none;
}

.navigation-bar-style li {
    margin-top: 10px;
    padding: 5px 0;
}

.navigation-bar-style li a {
    text-decoration-style: none;
    color: var(--nav-font-color);
    text-decoration: none;
    transition: all 0.2s;
}

.navigation-bar-style li a:hover {
    color: var(--white);
}
/*NAVIGATION END*/

.content-section {
    grid-area: content-section;
    background-color: gainsboro;
    padding: 3%;
}


