 * {
     padding: 0;
     margin: 0;
     /* border: 1px solid red; */
 }

 body {
     background-color: #9485FF;
     height: 100vh;
     /* overflow: hidden; */
 }

 .wrapper {
     height: 100%;
     display: grid;
     justify-content: center;
 }

 .inner-wrapper {
     height: 90%;
     align-self: center;
     display: grid;
     grid-template-columns: 10% 1fr;
     grid-template-areas:
        "navigation-section content-section";
 }

 .navigation-section {
     grid-area: navigation-section;
     background-color: coral;
 }

 .content-section {
     grid-area: content-section;
     background-color: gainsboro;
 }