.table-section {
    background-color: #ffffff;
    display: grid;
    color: #3d405c;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.table-section h5 {
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #E6E6F2;
}

.table-style {
    margin: 20px;
    border-collapse: collapse;
}

.table-style th,
.table-style td {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #E6E6F2;
    border-bottom: 2px solid #E6E6F2;
}

.modal-card {
    visibility: hidden;
    opacity: 1;
    display: grid;
    position: fixed;
    overflow-y: auto;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: scale(2);
    transition: all 0.35s;
}